
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  border: 1px solid white;
}

#sim-form {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

body {
  background-color: black;
  color: #fff;
}